.container
  .add-collab
    = form_tag wiki_collaborators_path(wiki) do 
      .form-group
      = text_field_tag :name, nil, placeholder: "Name", class: "form-control"
      .form-group
      = text_field_tag :email, nil, placeholder: "Email", class: "form-control"
      .form-group
      = submit_tag "Add Collaborator", class: "btn btn-success btn-sm"