.container
  .wikis-index
    %h3 Wikis
    .row.col-md-6 
    -@wikis.each do |wiki|
      .media
      .media-body
      %h4.media-heading
        = link_to wiki.title, wiki_path(wiki)
        .col-md-offset-1
        %small Created #{time_ago_in_words(wiki.created_at)} ago by #{current_user.name}
    %br
    - if policy(Wiki.new).create?
      = link_to "Add wiki", new_wiki_path, class: 'btn btn-success btn-sm'
