@import "bootstrap";

body {
  margin: 10px;
  border: 10px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: #F2F2F2;
}

.user-info {
  margin-top: 5px;
}

.nav {
  margin-top: 5px;
}
.jumbotron{
  width: 1050px;
  margin-top: 50px;
  border-radius: 5px;
  background-image: url(https://unsplash.imgix.net/uploads/1412238370909393b4a19/79f023f1?q=75&fm=jpg&s=0d39e32b84bfacd752f109035a811830);
  color: #665252;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}

.btn-primary {
  background-color: #665252;
  border-color: #2F1A4D;
  
}
.btn-default {
 border-color: #2F1A4D;
  
}
.btn-info {
  background-color: #80B2CC;
  border-color: #2F1A4D;
  color: #000
  
}

.btn-success {
  background-color: #859D85;
  border-color: #2F1A4D;
  color: #FFF;
}
.btn-danger {
  background-color: #8D1919;
  border-color: #473939;
  color: #FFF;
}
.btn-warning {
  background-color: #F0F2BF;
  border-color: #2F1A4D;
  color: #000;
}
a:link {
    color: #2F1A4D;

}

a:hover {
    color: #2F1A4D;
}
.table-bordered {
  border-radius: 3px;
}
.invoices{
  width: 500px;
}
.add-collab {
  width: 500px;
}


