@import "lumen";

body {
  margin: 10px;
  border: 10px;
  background-color: #FCFCFC;
}

.user-info {
  margin-top: 5px;
}

.nav {
  margin-top: 5px;
}


.table-bordered {
  border-radius: 3px;
}

.invoices{
  width: 500px;
}

.add-collab {
  width: 500px;
}


