// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wiki-show
{
  position: relative;
}

.wiki-edit {
  position: relative;
}

.wiki-index {
  position: relative;
}